@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #171717;
  --bg-color-secondary: #282828;
  --component-color: #1c1c1c;
  --text-xxs: 10px;
}
.btn-shine {
  padding: 12px 0;
  padding-right: 7px;
  background: linear-gradient(to right, #292929 0, #7d7b7b 10%, #292929 20%);
  background-position: 0;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 12s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  90% {
    background-position: 1080px;
  }
  100% {
    background-position: 1080px;
  }
}
